<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="add-form">
    <h2>Add weight</h2>
    <form [formGroup]="weightForm" (ngSubmit)="onSave()">
        <mat-form-field hidden>
            <mat-label>Id</mat-label>
            <input matInput formControlName="id" type="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Weight</mat-label>
          <input matInput formControlName="weight" type="number" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="modal-actions">
          <button class="modal-save-button" type="submit" [disabled]="isSaving">Save</button>
          <button class="modal-cancel-button" (click)="onCancel()">Cancel</button>         
        </div>
    </form>
    <div *ngIf="errorMessage && isSaving" class="error-message">{{ errorMessage }}</div>
</div>
