.month-counter {
    text-align: center;
}

.counter-text{
    color: #4075A0;
}
  
.dots-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
  
.dot {
    width: 12px; 
    height: 12px; 
    background-color: lightgray; 
    border-radius: 50%; 
    transition: background-color 0.5s ease; 
}
  
.dot.filled {
    background-color: #4075A0; 
    animation: fill 5s forwards;
}
  
@keyframes fill {
    0% {
      background-color: lightgray; 
    }
    100% {
      background-color: #4075A0; 
    }
}