@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.site-nav a {
  font-size: 20px;
  height: 50px;
  margin-top: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  color: black
}

.site-nav li .icon {
  min-width: 60px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav a:hover,
.site-nav li .icon:hover {
  color: #4B0082;
  transition: 0.3s;
}

.basic-information {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.basic-information-title {
  display: flex;
  justify-content: center;
}

.basic-information-title span {
  font-size: 22px;
  border-bottom: 2px #6A5ACD solid;
}

.separator {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px #707070 solid;
}

.input-label {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.input-label label {
  font-family: 'Poppins', sans-serif;
}

.input-label input {
  width: 150px;
  margin-left: 15px;
  background-color: aliceblue;
  border-radius: 3px;
  box-sizing: border-box;
}

.input-label input:focus {
  border-bottom: 2px #4B0082 solid;
}