<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <title>User profile</title>
</head>
<body>
    <div class="site-nav">
        <li class="nav-link">
            <a href="dashboard">
                <i class='bx bx-arrow-back icon'></i>
                <span>Dashboard</span>
            </a>
        </li>    
    </div>  
    <div *ngIf="dataLoaded">
        <form [formGroup]="userProfile">
            <div class="basic-information-title">
                <span>Basic information</span>
            </div> 
            <div class="basic-information">
                <div class="input-label">
                    <label for="name">Name</label>
                    <input id="name" type="text">
                </div>    
                <div class="input-label">
                    <label for="surname">Surname</label>
                    <input id="surname" type="text">
                </div>    
                <div class="input-label">
                    <label for="birthDate">Date od birth</label>
                    <input id="birthDate" type="date">
                </div> 
                <div class="input-label">
                    <label for="phoneNumber">Phone number</label>
                    <input id="phoneNumber" type="text">
                </div>   
                <div class="input-label">
                    <label for="gender">Gender</label>
                    <input id="gender" type="select">
                </div>        
            </div>
            
            <!-- <div class="address">
                <span>Address</span>
                <div class="input-label">
                    <label for="country">Country</label>
                    <input id="country" type="text">
                </div>
                <div class="input-label">
                    <label for="country">City</label>
                    <input id="country" type="text">
                </div>
                <div class="input-label">
                    <label for="street">Street</label>
                    <input id="street" type="text">
                </div>
                <div class="input-label">
                    <label for="buildingNumber">Building number</label>
                    <input id="buildingNumber" type="number" min="0">
                </div>
                <div class="input-label">
                    <label for="apartmentNumber">Apartment number</label>
                    <input id="apartmentNumber" type="number" min="0">
                </div>
                <div class="input-label">
                    <label for="postalCode">Postal code</label>
                    <input id="postalCode" type="text">
                </div>
        
            </div>        -->
        </form>
    </div>  
</body>
</html>