* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.site-nav {
  padding: 20px;
  background-color: transparent;
}

.user-info {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px); 
  padding: 20px;
  gap: 20px; 
}

.container {
  flex: 1;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
}

.avatar-label {
  cursor: pointer; 
}

.file-input {
  display: none; 
}

.avatar-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar-label:hover .avatar-image {
  transform: translateY(-5px) scale(1.05); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.avatar-upload {
  margin-top: 10px;
}

.avatar-save-button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.avatar-save-button:hover {
  background-color: #45a049;
}

.user-info {
  margin-top: 10px; /* Odstęp od zdjęcia */
  font-size: 14px; /* Rozmiar czcionki */
  color: #333; /* Kolor tekstu */
}