<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <title>User profile</title>
</head>
<body>
    <div class="site-nav">
        <li class="nav-link">
            <a href="dashboard">
                <i class='bx bx-arrow-back icon'></i>
                <span>Dashboard</span>
            </a>
        </li>    
    </div>  
    <div *ngIf="dataLoaded">
        <form [formGroup]="userProfile">
            <div class="basic-information">
                <div class="separator">
                    <span>Basic information</span>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="name">Name</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="surname">Surname</label>
                </div>
                <div class="inputGroup">
                    <input type="date" autocomplete="off">
                    <label for="birthDate">Birth date</label>
                </div>
                <div class="inputGroup">
                    <input type="select" autocomplete="off">
                    <label for="gender">Gender</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="email">Email</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="phone">Phone</label>
                </div>
            </div>  
            <div class="address">
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="country">Country</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="city">City</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="street">Street</label>
                </div>
                <div class="inputGroup">
                    <input type="number" autocomplete="off">
                    <label for="buildingNumber">Building number</label>
                </div>
                <div class="inputGroup">
                    <input type="number" autocomplete="off">
                    <label for="apartmentNumber">Apartment number</label>
                </div>
                <div class="inputGroup">
                    <input type="text" autocomplete="off">
                    <label for="postalCode">Postal code</label>
                </div>
            </div>       
        </form>
    </div>  
</body>
</html>