<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
    <div class="site-nav">
        <li class="nav-link">
             <a href="dashboard">
                <i class='bx bx-arrow-back icon'></i>
                <span>Dashboard</span>
            </a>
        </li>
    </div>
        
    <div class="user-info">
        <div class="container avatar-container">
            <label class="avatar-label">
                <img [src]="getUserAvatar()" alt="User Avatar" class="avatar-image" />
                <input type="file" (change)="onFileSelected($event)" accept="image/*" class="file-input" />
            </label>
            <div class="user-details">
                <div class="user-detail">
                    <span class="label">Name</span>
                    <span class="value">{{ userDto.name }}</span>
                </div>
                <div class="user-detail">
                    <span class="label">Surname</span>
                    <span class="value">{{ userDto.surname }}</span>
                </div>
                <div class="user-detail">
                    <span class="label">Email</span>
                    <span class="value">{{ userDto.email }}</span>
                </div>
                <button *ngIf="!isAllowToEdit" class="button-basic" (click)="editUser()">Edit</button>
                <button *ngIf="isAllowToEdit" class="button-basic" (click)="editUser()">Disable edit</button>
            </div>
        </div>
        
        <div class="container basic-info-container">
            <div class="basic-info-header">Basic Information</div>
                <div class="input-form">
                    <form [formGroup]="userProfile">
                        <div class="input-label" [hidden]="true">
                            <label for="id">Id</label>
                            <input id="id" type="text" formControlName="id">
                        </div>
                        <div class="input-label">
                            <label for="name">Name</label>
                            <input id="name" type="text" formControlName="name" [readonly]="!isAllowToEdit">
                        </div>
                        <div class="input-label">
                            <label for="surname">Surname</label>
                            <input id="surname" type="text" formControlName="surname" [readonly]="!isAllowToEdit">
                        </div>
                        <div class="input-label">
                            <label for="email">Email</label>
                            <input id="email" type="text" formControlName="email" [readonly]="!isAllowToEdit">
                        </div>
                        <div class="input-label">
                            <label for="birthDate">Date of birth</label>
                            <input id="birthDate" type="date" formControlName="birthDate" [readonly]="!isAllowToEdit">
                        </div>
                        <div class="input-label">
                            <label for="gender-select">Gender</label>
                            <select id="gender-select" formControlName="gender" [disabled]="!isAllowToEdit">
                                <option value=""></option>
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </div>
                        <div class="input-label">
                            <label for="phoneNumber">Phone Number</label>
                            <input id="phoneNumber" type="text" maxlength="9" formControlName="phoneNumber" [readonly]="!isAllowToEdit">
                        </div>
                        <div *ngIf="userProfile.get('phoneNumber')?.hasError('onlyDigits')">
                            <small class="error-text">Only digits are allowed.</small>
                        </div>
                    </form>
                    <button [disabled]="!isAllowToEdit || userProfile.get('phoneNumber')?.hasError('onlyDigits')" (click)="onSaved()" type="submit" class="button-basic" (click)="editUser()">Save</button>
                </div>
        </div>
        
        <div class="container address-container">
            <div class="address-header">Address</div>
            <div class="input-form">
                <form [formGroup]="userProfile">
                    <div class="input-label">
                        <label for="country">Country</label>
                        <input id="country" type="text" formControlName="country" [readonly]="!isAllowToEdit">
                    </div>
                    <div class="input-label">
                        <label for="city">City</label>
                        <input id="city" type="text" formControlName="city" [readonly]="!isAllowToEdit">
                    </div>
                    <div class="input-label">
                        <label for="street">Street</label>
                        <input id="street" type="text" formControlName="street" [readonly]="!isAllowToEdit">
                    </div>
                    <div class="input-label">
                        <label for="buildingNumber">Building number</label>
                        <input id="buildingNumber" type="number" min="0" formControlName="buildingNumber" [readonly]="!isAllowToEdit">
                    </div>
                    <div class="input-label">
                        <label for="apartmentNumber">Apartment number</label>
                        <input id="apartmentNumber" type="number" min="0" formControlName="apartmentNumber" [readonly]="!isAllowToEdit">
                    </div>
                    <div class="input-label">
                        <label for="postalCode">Postal code</label>
                        <input id="postalCode" type="text" formControlName="postalCode" placeholder="XX-XXX" maxlength="6" [readonly]="!isAllowToEdit">
                    </div> 
                </form>
                <button [disabled]="!isAllowToEdit || userProfile.get('phoneNumber')?.hasError('onlyDigits')" class="button-basic" (click)="onSaved()" type="submit">Save</button>
            </div>
        </div>
    </div>
        