<div class="workspace">
    <div class="workspace-header">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
            <div class="site-nav">
            <li class="nav-link">
                <a href="dashboard">
                    <i class='bx bx-arrow-back icon'></i>
                    <span>Dashboard</span>
                </a>
            </li>    
            </div> 
        <app-month-counter></app-month-counter>
    </div>
    <div class="workspace-body">
        <div class="weight-dashboard">
            <div class="side-containers">
                <div class="container"></div>
                <div class="container"></div>
                <div class="container"></div>
            </div>
            <div class="main-container"></div>
        </div>
    </div>
</div>