@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background: #F0F5F9;
    height: 100vh;
}

span {
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weight-empty img {
    display: flex;
}