<div class="workspace">
    <div class="workspace-header">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
            <div class="site-nav">
            <li class="nav-link">
                <a href="dashboard">
                    <i class='bx bx-arrow-back icon'></i>
                    <span>Dashboard</span>
                </a>
            </li>    
            </div> 
        <app-month-counter></app-month-counter>
    </div>
    <div class="workspace-body">
        <div class="weight-dashboard">
            <div class="side-containers">
                <div class="container">
                    <div class="weight-goal">
                       <div class="weight-goal-not-set">
                            <div *ngIf="!weightGoal.isSet && !isWeightGoalSet">
                                <span>You don't have weight goal set yet.</span>
                                <span class="clickable" (click)="setWeightGoal()"> Click</span>
                                <span> to set it.</span>
                            </div>
                       </div>
                        <div class="form-weight-goal" *ngIf="!weightGoal.isSet && isWeightGoalSet">
                            <form [formGroup]="weightGoalForm" (ngSubmit)="saveWeightGoal()" class="weight-goal-form">
                                <div class="form-input">
                                    <label for="currentWeight">Current weight:</label>
                                    <input id="currentWeight" formControlName="currentWeight" type="number" />
                                </div>
                                <div class="form-input">
                                    <label for="targetWeight">Target weight:</label>
                                    <input id="targetWeight" formControlName="targetWeight" type="number" />
                                </div>
                                <div class="form-input">
                                    <label for="creationDate">Start date:</label>
                                    <input id="creationDate" formControlName="creationDate" type="date" />
                                </div>
                                <div class="form-input">
                                    <label for="targetDate">Target date:</label>
                                    <input id="targetDate" formControlName="targetDate" type="date" />
                                </div>
                                <button type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container"></div>
                <div class="container"></div>
            </div>
            <div class="main-container"></div>
        </div>
    </div>
</div>