<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <div class="workspace" *ngIf="!isLoading">
    <div class="workspace-header">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  
            <div class="site-nav">
            <li class="nav-link">
                <a href="dashboard">
                    <i class='bx bx-arrow-back icon'></i>
                    <span>Dashboard</span>
                </a>
            </li>    
            </div> 
        <app-month-counter></app-month-counter>
    </div>
    <div class="workspace-body">
        <div class="activity-dashboard">
            <div class="side-containers">
                <div class="add-container">
                    <button class="add-button" (click)="openAddActivityModal()">
                        <i class="material-icons">add</i> Add activity
                    </button>
                </div>  
                <div class="side-container">
                    
                </div>
                <div class="side-container">
                    
                </div>
                <div class="side-container">
                    
                </div>
            </div>
            <div class="main-container">
                <app-chart [weeklyActivity]="weeklyActivities" [chartName]="chartName"></app-chart>
            </div>
        </div>
    </div>
</div>
