<div class="chart-container" *ngIf="weights?.length">
    <ngx-charts-line-chart
      [view]="undefined"
      [scheme]="colorScheme"
      [results]="weightChartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [yAxisLabel]="chartName + ' (kg)'"
      [autoScale]="true">
    </ngx-charts-line-chart>
</div>

<div class="chart-container" *ngIf="weeklyActivity.length">
  <ngx-charts-bar-horizontal-2d
      [view]="undefined"
      [scheme]="activityColorScheme"
      [results]="activityChartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [yAxisLabel]="chartName">
  </ngx-charts-bar-horizontal-2d>
</div>

<div *ngIf="nutritionChartData.length">
    <ngx-charts-bar-vertical    
      [view]="undefined"
      [scheme]="colorScheme"
      [results]="nutritionChartData"
      [xAxis]="false"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [yAxisLabel]="'Nutrition (g)'">
    </ngx-charts-bar-vertical>
</div>

<div *ngIf="sleepChartData.length">
    <ngx-charts-pie-chart     
      [view]="undefined"
      [scheme]="colorScheme"
      [results]="sleepChartData"
      [legend]="false"
      [labels]="true"
      [doughnut]="true"
      [arcWidth]="0.3">
    </ngx-charts-pie-chart>
</div>
