<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="sidebar.component.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 

    <title>Sidebar</title>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <div class="text header-text">
                    <img src="../../../../assets/logo.png" alt="logo">
                    <span class="name">Health Diary</span>                   
                </div>               
            </div>
        </header>
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-line-chart icon'></i>
                            <span class="text nav-text">Weight</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-swim icon'></i>
                            <span class="text nav-text">Exercises</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-pizza icon'></i>
                            <span class="text nav-text">Food</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-hotel icon'></i>
                            <span class="text nav-text">Sleep</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <div class="user-welcome">
                    <span>Welcome {{userName}}!</span>
                </div>
                <button (click)="openUserProfile()"> 
                    <div class="button-icon">
                        <i class='bx bx-user'></i>
                    </div>
                        <span class="text nav-text">Profile</span>
                </button>
                <button (click)="logout()">
                    <div class="button-icon">
                        <i class='bx bx-log-out'></i>
                    </div>
                        <span class="text nav-text">Logout</span>
                </button>              
            </div>
        </div>
    </nav>
</body>
</html>