<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="dashboard-content" *ngIf="dataLoaded">
    <div class="sidebar-container">
        <app-sidebar></app-sidebar>
    </div>
    <div class="workplace">
        <div class="container-grid">
            <div class="container">
                <div *ngIf="!dataLoaded" class="loading-spinner"></div>               
                <app-health-preview [weights]="userWeights"></app-health-preview> 
                <div class="add-weight-container">
                    <button class="add-button" (click)="openAddWeightModal()">
                        <i class="material-icons">add</i> Add
                    </button>
                </div>              
            </div>
            <div class="container">  
                <div *ngIf="!dataLoaded" class="loading-spinner"></div>
                <app-health-preview [monthlyActivities]="totalMonthlyActivities"></app-health-preview>           
            </div>
            <div class="container">
                <div *ngIf="!dataLoaded" class="loading-spinner"></div>
                <app-health-preview [weeklyNutritionDto]="weeklyNutritionDto"></app-health-preview>       
            </div>
            <div class="container">
                <div *ngIf="!dataLoaded" class="loading-spinner"></div>
                <app-health-preview [lastSleepInfo]="lastSleepInfo"></app-health-preview>
            </div>
        </div>
    </div>
</div>  
