@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    background-color: #F0F5F9;
    transition: 0.3s;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fade 0.5s ease-in-out forwards;
}

@keyframes fade {
    from, to {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.dashboard-content {
    display: flex;
}

.sidebar-contener {
    width: 15%;
    height: 100vh;
}

.workplace {
    height: 100vh;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
}

.container {
    flex-basis: calc(50% - 16px); 
    height: calc(50% - 16px); 
    border: 3px solid;
    border: #D3E2EE 3px solid;
    border-radius: 10px;
}

.container:nth-child(odd) {
    order: 1;
}

.container:nth-child(even) {
    order: 2;
}

.weight,
.sleep,
.food,
.exercises {
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.info-bar {
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
    margin: 0 8px;
}

.weather-info {
    white-space: nowrap;
    position: relative;
    animation: scrollText 70s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-300%);
    }
}