<div class="dashboard-content" *ngIf="dataLoaded">
    <div class="sidebar-contener">
        <app-sidebar></app-sidebar>
    </div>
    <div class="workplace">
        <div class="container-grid">
            <div class="container">               
                <app-health-preview [weights]="userWeights"></app-health-preview> 
            </div>
            <div class="container">  
                <app-health-preview [monthlyActivities]="totalMonthlyActivities"></app-health-preview>           
            </div>
            <div class="container">
                <app-health-preview [weeklyNutritionDto]="weeklyNutritionDto"></app-health-preview>       
            </div>
            <div class="container">
                <app-health-preview [lastSleepInfo]="lastSleepInfo"></app-health-preview>
            </div>
        </div>
    </div>
</div>  
